# Global options
{
	{$CADDY_GLOBAL_OPTIONS}

	servers {
		timeouts {
			read_body 10s
			read_header 10s
			write 30s
			idle 60s
		}
		keepalive_interval 2m
		max_header_size 16KB
		trusted_proxies static private_ranges
		client_ip_headers X-Forwarded-For
		protocols h1
		strict_sni_host on
	}

	order php_fastcgi before file_server
}

:80 {
	@static {
		file
		path *.css *.eot *.gif *.ico *.jpeg *.jpg *.js *.otf *.png *.svg *.ttf *.webp *.woff *.woff2
	}

	root * /var/www/html/

	# Include any extra directives
	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	# PHP-FPM handling
	php_fastcgi unix//run/php-fpm.sock

	# Serve static files directly
	file_server @static

	# Try files or directories, falling back to index.php
	try_files {path} {path}/ /index.php?{query}
}